li {
  list-style: none;
  text-align: center;
<<<<<<< HEAD
=======
  width: 80%;
>>>>>>> master
}

.LikePetBtn {
  font-size: 1.5em;
  font-family: serif;
  background-color: #69D3C4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
<<<<<<< HEAD
  height: 10%;
  width: 75%;
=======
  width: 5em;
>>>>>>> master
  margin: .5em 0em;
  padding: .5em 0em;
}

.LikePetBtn:hover {
  box-shadow: 0 0 10px rgba(0, 255, 234, 0.8);
}

.PetListingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFFF;
<<<<<<< HEAD
=======
  text-align: center;
>>>>>>> master
  width: 60%;
  height: 85%;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  border: solid 5px rgba(0, 255, 234, 0.4);
}

.AvailablePetsContainer {
<<<<<<< HEAD
=======
  font-family: serif;
  color: #69D3C4;
  text-align: center;
  overflow-y: scroll;
  width: 95%;
}

.AvailablePetsTitle {
>>>>>>> master
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
<<<<<<< HEAD
  overflow: scroll;
}

.AvailablePetsTitle {
=======
>>>>>>> master
  font-family: serif;
  text-align: center;
  color: #69D3C4;
  font-size: 1.5em;
<<<<<<< HEAD
=======
  height: 75%;
>>>>>>> master
  width: 100%;
  padding: .25em;
}

<<<<<<< HEAD
.PetListings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: serif;
  color: #69D3C4;
  height: 85%;
  width: 95%;
  overflow: scroll;
  text-align: center;
}

.SinglePetListing{
=======
.SinglePetListings{
>>>>>>> master
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  border: solid 5px rgba(0, 255, 234, 0.4);
  border-radius: 25px;
  padding: .5em;
<<<<<<< HEAD
  margin: .5em;
  width: 80%;
=======
  margin: auto;
  width: 90%;
  margin-top: .5em;
>>>>>>> master
}

.PetInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
<<<<<<< HEAD
  text-align: left;
  overflow: scroll;
  margin: .25em;
  font-size: 1.25em;
}

.PetInfoSpecs {
  text-align: center;
=======
  text-align: center;
  overflow-y: scroll;
  margin: .25em;
  font-size: 1.25em;
  width: auto;
>>>>>>> master
}

.CreateListingBtn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: serif;
  background-color: #69D3C4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin: .5em;
  width: 50%;
}

.CreateListingBtn:hover {
  box-shadow: 0 0 10px rgba(0, 255, 234, 0.8);
}


